.clothes_header {
    padding: 40px !important;
    text-align: center !important;
}

.clothes {
    padding: 0 20% !important;
}

.items {
    font-size: 23px !important;
    margin-top: 10px !important;
    padding-left: 120px !important;
}

.details {
    background-color: #ffc107 !important;
    margin-bottom: 10px !important;
    width: 120px !important;
    height: 40px !important;
}