<div class="container-fluid">
  <div class="container-fluid page-bg">
    <div class="container-fluid clothes-header">
      <h1>Clothes</h1>
      <!-- dialog box -->
      <div class="container-fluid">
        <div class="row" *ngFor="let item of clothes let i = index">
          <div class="col-md-8 items">
            {{item.title}}
          </div>
          <div class="col-md-4">
            <button class="details" mat-button (click)="openDialog(i)">DETAIL</button>
          </div>
        </div>
      </div>
    </div>
    <div class="empty-place">

    </div>
  </div>
</div>
