<div class="container">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3">
      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <p class="text-muted">© 2022</p>
    </div>

    <div class="col mb-3">

    </div>

    <div class="col mb-3">
      <h2 class="text-muted">Information</h2>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About Us</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Customer Service</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Template Settings</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Privacy Policy</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Site Map</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Search Terms</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Advanced Search</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Orders and Returns</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contact Us</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h2 class="text-muted">Why Buy From Us</h2>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Shipping & Returns</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Secure Shopping</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">International Shipping</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Affiliates</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Group Sales</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h2 class="text-muted">My Account</h2>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Sign In</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">View Cart</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">My Wishlist</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Track My Order</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Help</a></li>
      </ul>
    </div>
  </footer>
</div>