<header class="text-bg-dark my_menu">
    <div class="container my-main-head">
      <div class="hg-100 d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="menu-left-side nav  align-items-center col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><img class="logo" src="assets/images/logo.png" alt=""></li>
          <li><a routerLink="" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="menu_active"  class="nav-link px-2 text-white">Home</a></li>
          <li><a routerLink="fag" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="menu_active" class="nav-link px-2 text-white">FAQs</a></li>
        
          <li><a routerLink="clothes" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="menu_active" class="nav-link px-2 text-white">
            <div class="btn-group">
              <button type="button" class="btn btn-warning">Shop</button>
              <button type="button" (click)="my_drop()"  class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only"></span>
              </button>
              <div [ngStyle]="{'display': dropMenu ? 'block' : 'none'}" class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                <a  *ngFor="let item of clothes let i = index" class="dropdown-item"  (click)="openDialog(i)">  {{item.title}}</a>
              </div>
            </div>
          </a></li>
        </ul>

        <div class="text-end menu-right-side">
          <button type="button" class="btn btn-outline-light me-2" routerLink="#"><span class="lnr lnr-heart"></span></button>
          <button type="button" class="btn btn-outline-light me-2" routerLink="#"><span class="lnr lnr-cart"></span></button>
          <button type="button" class="btn btn-outline-light me-2" routerLink="login"><span class="lnr lnr-user"></span></button>
          <button type="button" class="btn btn-warning" routerLink="sign-up">Sign-up</button>
        </div>
      </div>
    </div>
    
  </header>


