.menu_active {
    color: #ffc107 !important;
}

.my_menu {
    width: 100% !important;
    height: 75px  !important;
    position: fixed !important;
    top: 0% !important;
    z-index: 10 !important;
}

.logo {
    width: 65px !important;
    height: auto !important;
    
}

