h1 {
    height: 150px !important;
    width: 100% !important;
    padding-top: 100px !important;
    font-size: 27px !important;
    font-weight: bold !important;
    font-style: italic !important;
    text-align: center !important;
  }

.faq_stl {
    padding: 0% 10% !important;
    
}

