<div class="container-fluid">
  <h1 class="txt_center">FAQs</h1>
</div>
<div class="container-fluid  faq_stl">
<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Lorem ipsum dolor sit?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius eligendi voluptatibus modi odit dolor, amet ipsum,
      quod laudantium, nemo porro quidem a repellat. Voluptatum atque, sapiente maiores dolores vero magnam
      reprehenderit laborum nulla fugiat nemo saepe non nam reiciendis. Animi.</p>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Eius eligendi voluptatibus modi odit dolor, amet ipsum, quod laudantium?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius eligendi voluptatibus modi odit dolor, amet ipsum,
      quod laudantium dolor sit, amet consectetur adipisicing elit. Eius eligendi voluptatibus modi odit dolor, amet ipsum,
    quod laudantium, nemo porro quidem a repellat. Voluptatum atque, sapiente maiores dolores vero magnam
    reprehenderit laborum nulla fugiat nemo saepe non nam reiciendis. Animi.</p>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Voluptatum atque dolor amet consectetur sit?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Voluptatum atque, sapiente maiores dolores vero magnam reprehenderit laborum nulla amet consectetur adipisicing elit. Eius eligendi voluptatibus modi odit dolor, amet ipsum,
      quod laudantium dolor sit, amet consectetur adipisicing elit. Eius odi odit dolor, amet ipsum,
    quod laudantium, nemo a repellat. Voluptatum atque, sapiente maiores dolores vero magnam
    reprehenderit laborum nulla fugiat nemo saepe non nam reiciendis.</p>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Eius odi odit dolor laborum nulla?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Eius odi odit dolor, sapiente maiores dolores vero magnam reprehenderit laborum nulla amet consectetur adipisicing elit. Eius eligendi voluptatibus modi odit dolor, amet ipsum,
      quod laudantium. Eius odi odit dolor, amet ipsum, quod laudantium, nemo a repellat. Voluptatum atque, sapiente magnam
    reprehenderit laborum nulla fugiat nemo saepe non nam reiciendis.</p>
  </mat-expansion-panel>
</mat-accordion>

</div>







   