/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;  
}

html {
    scroll-behavior: smooth !important;
}

body { 
    margin: 0 !important; 
   background-color: #f2cbf6 !important;

   }
* {
    font-family: 'Pacifico', cursive !important;
    z-index: 0;
  
}