<!-- carousel -->
<div class="container-fluid header">
    <p class="header-p">Sign-up and get 30% off for your first shopping.</p>
    <a><button class="header-button" routerLink="sign-up" mat-raised-button color="primary">SIGN-UP TODAY</button></a>
</div>

<!-- Collection -->
<div class="container-fluid">
    <h1>La Shop Collection</h1>
</div>

<!-- Cards 1st row-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="card_title">Dresses</mat-card-title>
        </mat-card-header>
        <div class="card-img card-img-1" mat-card-image></div>
        <mat-card-actions>
            <a routerLink="dresses"><button class="card-button"  mat-raised-button color="primary">See more</button></a>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-md-3">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="card_title">Suits</mat-card-title>
        </mat-card-header>
        <div class="card-img card-img-2" mat-card-image></div>
        <mat-card-actions>
          <a routerLink="suits"><button class="card-button" mat-raised-button  color="primary">See more</button></a>
      </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-md-3">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="card_title">Mom & Kids</mat-card-title>
        </mat-card-header>
        <div class="card-img card-img-3" mat-card-image></div>
        <mat-card-actions>
          <a routerLink="mom&kids"><button class="card-button" mat-raised-button color="primary">See more</button></a>
      </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-md-3">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="card_title">Coats</mat-card-title>
        </mat-card-header>
        <div class="card-img card-img-4" mat-card-image></div>
        <mat-card-actions>
          <a routerLink="coats"><button class="card-button" mat-raised-button color="primary">See more</button></a>
      </mat-card-actions>
      </mat-card>
    </div>
  </div>

    <br>
    <br>
<!-- Cards 2nd row-->
  <div class="row">
    <div class="col-md-3">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="card_title">Bags & Shoes</mat-card-title>
        </mat-card-header>
        <div class="card-img card-img-5" mat-card-image></div>
        <mat-card-actions>
          <a routerLink="bags&shoes"><button class="card-button" mat-raised-button color="primary">See more</button></a>
      </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-md-3">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="card_title">Accessories</mat-card-title>
        </mat-card-header>
        <div class="card-img card-img-6" mat-card-image></div>
        <mat-card-actions>
          <a routerLink="accessories"><button class="card-button" mat-raised-button color="primary">See more</button></a>
      </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-md-3">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="card_title">Hats</mat-card-title>
        </mat-card-header>
        <div class="card-img card-img-7" mat-card-image></div>
        <mat-card-actions>
          <a routerLink="hats"><button class="card-button" mat-raised-button color="primary">See more</button></a>
      </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-md-3">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="card_title">Sports</mat-card-title>
        </mat-card-header>
        <div class="card-img card-img-8" mat-card-image></div>
        <mat-card-actions>
          <a routerLink="sports"><button class="card-button" mat-raised-button color="primary">See more</button></a>
      </mat-card-actions>
      </mat-card>
    </div>

  </div>
</div>
