
.header {
    width: 98% !important;
    height: 500px !important;
    background-image: url(../../assets/images/header.jpg) !important;
    background-size: cover !important;
    background-position: right !important;
    background-repeat: no-repeat !important;
    margin-top: 75px !important;
    
}

.header-p {
    width: 400px !important;
    height: 200px !important;
    font-size: 30px !important;
    padding-top: 130px !important;
    padding-left: 50px !important;
    font-weight: 500 !important;
    color: antiquewhite;
}

a {
    text-decoration: none !important; 
}

.header-button {
    font-size: 15px !important;
    width: 170px !important;
    height: 50px !important;
    background-color: #ffc107 !important;
    color: black !important;
   margin-top: 50px !important;
   margin-left: 50px !important;
}

.collect_header {
    
    height: 60px !important;
    width: 100% !important;
    margin-top: 40px !important;
}
h1 {
    text-align: center !important;
}

.card-img {
    height: 300px !important;
}

.card_title {
    height: 45px!important;
    width: 100% !important;  
    text-align: center !important;  
}

.card-button {
    background-color: #ffc107 !important;
    color: black !important;
    
}