
.my_crsl {
    height: 500px !important;
}

.crsl-p {
    font-size: 30px !important;
    padding-bottom: 25px !important;
    font-weight: 500 !important;
}

a {
    text-decoration: none !important; 
}

.my-button-crsl {
    font-size: 15px !important;
    width: 170px !important;
    height: 50px !important;
    background-color: #ffc107 !important;
    color: black !important;
}

.collect_header {
    
    height: 60px !important;
    width: 100% !important;
    margin-top: 40px !important;
}
h1 {
    text-align: center !important;
}

.card-img {
    height: 300px !important;
}

.card_title {
    height: 45px!important;
    width: 100% !important;  
    text-align: center !important;  
}

.card-button {
    background-color: #ffc107 !important;
    color: black !important;
    
}